.background {
  
  /* Position the background fixed to all four sides of the screen */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* Make sure that the background is behind the content */
  z-index: -1;

  /* set the color of the background to gray */
  background-color: lightgray;
}


.content {

  /* Make the content take up half of the screen horizontally, but not larger than 500px */
  width: 30%;
  max-width: 250px;

  /* put a margin to the top and bottom of 100px, and center the content vertically */
  margin: 100px auto;

  /* put a border around the text content */
  padding: 50px;

  /* Make the content's background white */
  background-color: white;

  /* center align all of the text */
  text-align: center;
}

div.photo {
  background-color: gray;

  /* Make this a 100px circle */
  border-radius: 500px;
  width: 100px;
  height: 100px;

  /* center this circle */
  margin: auto;
}

footer {
  color: gray;
  font-size: 10px;
  margin-top: 40px;
}
